// Character Card Styling

  .character-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .character-image {
      height: 7rem;
      width: 7rem;
      border-radius: 9999px;
      object-fit: cover;
      object-position: center;
      // height: 100%;
      // width: 100%;
    }
    .jedi-info{
      color: greenyellow;
    }
  }